<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  Reference file. In use are
    $/y23.doorway/NLog-Debug.config
    and
    $/y23.doorway/NLog-Release.config
  -->

  <targets>

    <target xsi:type="File"
        name="filewriter"
        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}${exception:format=ToString}"
        fileName="${basedir}/../../../../logs/log-${date:format=yyMMdd-HHmmss}.txt"
        keepFileOpen="true"
        encoding="utf-8"
        />
    <!-- 
        fileName="${basedir}/logs/log-${date:format=yyMMdd-HHmmss}.txt"
    -->

    <target xsi:type="ColoredConsole"
            name="colorconsolewriter"
            encoding="utf-8"
            layout="${level:uppercase=true} | ${logger} | ${message}${exception:format=ToString}"
            header="Start.  ${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff}"
            footer="Finish. ${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff}"
            useDefaultRowHighlightingRules="true"
            errorStream="false"
            enableAnsiOutput="false"
            detectConsoleAvailable="false"
            detectOutputRedirected="false"
            >
      <!--<highlight-row condition="Condition" backgroundColor="Enum" foregroundColor="Enum"/>-->
      <!-- repeated -->
      <!--<highlight-word text="String" condition="Condition" backgroundColor="Enum" foregroundColor="Enum"-->
      <!--ignoreCase="Boolean" regex="String" wholeWords="Boolean" compileRegex="Boolean"/>-->
      <!-- repeated -->
    </target>
  </targets>
  <!--
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}${exception:format=ToString}"
  -->

  <rules>
    <logger name="*" minlevel="Trace" writeTo="colorconsolewriter,filewriter" />
    <!--<logger name="*" minlevel="Debug" writeTo="colorconsolewriter" />-->
  </rules>
</nlog>
